*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}   

.cont01 {   
        height: 604px;
        width: 1440px;
        background-image: url(../assets/img/banner/banner-home.jpg);
        display: inline-block;
        position: relative;
}

.cont02 {   
    height: 666px;
    width: 1440px;
    background-image: url(../assets/img/banner/banner-about-us.jpg);
    display: inline-block;
    position: relative;
}

.cont03 {   
    height: 450px;
    width: 1440px;
    background-image: url(../assets/img/banner/banner-services.jpg);
    display: inline-block;
    position: relative;
}
.cont04 {   
    height: 504px;
    width: 1440px;
    background-image: url(../assets/img/banner/banner-travel-blog.jpg);
    display: inline-block;
    position: relative;
}
.cont05 {   
    height: 502px;
    width: 1440px;
    background-image: url(../assets/img/banner/banner-contact.jpg);
    display: inline-block;
    position: relative;
}

header{
    display: inline-block;
    position: relative;
    margin: 25px 80px 25px 80px;
}
.logo{
    height: 103px;
    width: 270px;
    margin: 0px;
    }

nav {
    height: 50px;   
    width: 700px;
    right: 50px;
    position: relative;
    left: 650px;
    bottom: 85px;
}

.navBar li { 
        list-style: none; 
        display: inline-block;
        margin: 20px;
    }
.navBar li a {
        text-decoration: none;
        width: 100px;   
        height: 40px;
        color: white;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-shadow: 1px 1px 4px black;
        
    }
div .contactButton a{
        position: relative;    
        text-decoration: none;
        width: 105px;
        height: 30px;  
        border-radius: 15px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        background-color: #FF7777;
        padding: 5px 15px 5px 15px;
        left: 532px;
        bottom: 48px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
}

.mainUpTitle{
        position: relative;
        font-style: normal;
        text-transform: uppercase;
        font-size: 20px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632);
        left: 200px;
}

.mainTitle{
        position: relative;
        font-style: normal;
        font-size: 78px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
        left: 300px;
}

.mainSubTitle{
        position: relative;
        font-style: normal;
        font-size: 28px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
        left: 350px;
}
.hereButton a{
    position: relative;    
    text-decoration: none;
    width: 105px;
    height: 30px;  
    border-radius: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    background-color: #FF7777;
    padding: 5px 15px 5px 15px;
    left: 620px;
    bottom: 45px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
    
}

.AuMainTitle{
        position: relative;
        font-style: normal;
        font-size: 68px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
        left: 150px;
        bottom: 20px;
    }

.seMainTitle{
        position: relative;
        font-style: normal;
        font-size: 68px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
        left: 600px;
        bottom: 65px;
}

.seMainTitleBis{
        position: relative;
        font-style: normal;
        font-size: 68px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
        left: 750px;
        bottom: 80px;
}

.tBMainTitle{
    position: relative;
    font-style: normal;
    font-size: 68px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
    left: 480px;
    
}

.tBSubTitle{
        position: relative;
        height: 107px;
        width: 616px;
        text-align: center;
        font-style: normal;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: white;
        left: 380px;
        top: 8px;
}

.coMainTitle{
    position: relative;
    font-style: normal;
    font-size: 68px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
    left: 320px;
    bottom: 15px;
}

.coMainTitleBis{
    position: relative;
    font-style: normal;
    font-size: 68px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
    left: 400px;
    bottom: 40px;
}

.section01{
        height: 632px;
        width: 1440px;
        background-color: #BADCD6;
        text-align: center;
        padding-top: 70px;
}
.s01UpTitle{
    position: relative;
    font-style: normal;
    font-size: 24px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    

}
.s01MainTitle{
    position: relative;
    font-style: normal;
    font-size: 68px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-bottom: 45px;
}

.s01text{
    height: 300px;
    width: 720px;
    text-align: center;
    position: relative;
    font-style: normal;
    font-size: 24px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 350px;

}

.kMoreButton a{
    position: relative;    
    text-decoration: none;
    width: 105px;
    height: 30px;  
    border-radius: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    background-color: #79C0AF;;
    padding: 5px 15px 5px 15px;
    left: -10px;
    bottom: 65px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
    
}

.section02{
    position: relative;
    display: inline-block; 
    height: 1220px;
    width: 1440px;
    background-color: white;
    padding-top: 90px;
    margin-bottom: 50px;
}

.s02Up{
    height: 300px;
    width: 1440px;
}

.s02UpTitle{
    position: relative;
    text-align: center;
    font-style: normal;
    font-size: 24px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
} 

.s02MainTitle{
    position: relative;
    text-align: center;
    font-style: normal;
    font-size: 68px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-bottom: 35px;
}

.s02text{
    height: 68px;
    width: 576px;
    text-align: center;
    position: relative;
    font-style: normal;
    font-size: 24px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 430px;

}

.s02Down{
    height: 830px;
    width: 1440px;
    position: absolute;
    display: inline-block;
    padding-top: 40px;
    padding-left: 20px;
}

.art01{
    position:absolute;
    left: 50px;

}

.art01Text{
    height: 410px;
    width: 410px;
    position: absolute;
    position: relative;
    text-align: left;
    font-style: normal;
    top: 500px;
    left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
}

.art01UpText{
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.art01MainTitle{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    color: white;
}

.art01Desc{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    color: white;

}

.discTrip01 a{
    position: relative;    
    text-decoration: none;
    width: 105px;
    height: 30px;  
    border-radius: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #FF7777;
    padding: 5px 15px 5px 15px;
    left: 140px;
    top: 270px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
    z-index: 1;
}

.art01 img{
    position: absolute;
    top: 30px;
    left: 30px;
}

.art02{
    position: relative;
    left: 480px;
    bottom: 48px;
}

.art02Text{
    height: 410px;
    width: 410px;
    position: absolute;
    position: relative;
    text-align: left;
    font-style: normal;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
    top: 550px;
    left: 30px;
    z-index: 1;
}

.art02UpText{
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.art02MainTitle{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    color: white;
}

.art02Desc{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    color: white;

}

.discTrip02 a{
    position: relative;    
    text-decoration: none;
    width: 105px;
    height: 30px;  
    border-radius: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #FF7777;
    padding: 5px 15px 5px 15px;
    left: 140px;
    top: 320px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
    z-index: 1;
}

.art02 img{
    position: absolute;
    top: 80px;
    left: 15px;
}

.art03{
    position: relative;
    left: 916px;
    bottom: 488px;
}

.art03Text{
    height: 410px;
    width: 410px;
    position: absolute;
    position: relative;
    text-align: left;
    font-style: normal;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632) ;
    top: 550px;
    left: 30px;
    z-index: 1;
}

.art03UpText{
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.art03MainTitle{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    color: white;
}

.art03Desc{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    color: white;

}

.discTrip03 a{
    position: relative;    
    text-decoration: none;
    width: 105px;
    height: 30px;  
    border-radius: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #FF7777;
    padding: 5px 15px 5px 15px;
    left: 140px;
    top: 320px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
    z-index: 1;
}

.art03 img{
    position: absolute;
    top: 80px;
    left: 15px;
}

.section03{
    position: relative;
    display: inline-block; 
    height: 588px;
    width: 1440px;
    background-color: #BADCD6;
}

.section04{
    position: relative;
    display: inline-block; 
    height: 1700px;
    width: 1440px;
    background-color: white;
}

.section05{
    position: relative;
    display: inline-block; 
    height: 488px;
    width: 1440px;
    background-color: #BADCD6;
}

.section06{
    position: relative;
    display: inline-block; 
    height: 1700px;
    width: 1440px;
    background-color: white;
}

.section07{
    position: relative;
    display: inline-block; 
    height: 1700px;
    width: 1440px;
    background-color: white;
}

.section08{
    position: relative;
    display: inline-block; 
    height: 1428px;
    width: 1440px;
    background-color: #79C0AF;
}

.s08text{
    height: 200px;
    width: 1440px;
    text-align: center;
}

.s08text p{
    height: 80px;
    width: 720px;
    position: relative;
    font-style: normal;
    font-size: 28px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 380px;
    padding-top: 50px;
}

.s08Form{
    height: 1228px;
    width: 1440px;
    position: absolute;
}

.s08Form form{
    position: absolute;
    height:1100px;
    width:1200px ;
    left: 100px;
    margin-top: 50px;
    padding-left: 100px;
}

.s08Form form p{
    font-style: normal;
    font-size: 28px;
    color: rgb(80, 80, 80);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.input01{
    width: 500px;
    height: 60px;
    font-size: 24px;
    color: rgb(123, 123, 123);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    border: none;
}

.input02{
    width: 500px;
    height: 60px;
    font-size: 24px;
    color: rgb(123, 123, 123);
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    border: none;
}

.input03{
    width: 1015px;
    height: 60px;
    font-size: 24px;
    color: rgb(123, 123, 123);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    border: none;
}

.input04{
    font-size: 22px;
    color: rgb(80, 80, 80);
    font-family: 'Poppins', sans-serif;
    
}

.input05{
    margin-right: 30px;
    margin-bottom: 30px;
    border: none;
}

.textArea{
    resize: none;
    width: 1015px;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    color: rgb(80, 80, 80);
    font-size: 18px;
}

.resetButton{
    cursor: pointer;
    border-style: none;
    text-decoration: none;
    width: 120px;
    height: 30px;  
    border-radius: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #FF7777;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
    margin-top: 8px;
    position: absolute;
    left: 980px;
}

.sendButton{
    cursor: pointer;
    border-style: none;
    text-decoration: none;
    width: 280px;
    height: 60px;  
    border-radius: 25px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    background-color: #FF7777;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
    margin-top: 8px;
    position: absolute;
    left: 480px;
    bottom: 50px;

}


.topButton{
        height: 80px;
        width: 100px;
        background-color: #79C0AF;
        border-radius: 50%;
        position: absolute;
        left: 660px;
        top: -36px;
        z-index: 1;
}

.topButton a{
        text-decoration: none;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        font-size: 24px;
        position: relative;
        line-height: 120%;
        z-index: 1;
}

.footerCont{
        position: absolute;
        display: inline-block;
        height: 671px;
        width: 1440px;
        background-color: #BADCD6 ;
}

.footNav {
    display: inline-block;
    height: 200px;
    width: 1200px;
    position: absolute;
    left: 46px;


}

.footHome{
    display: block;
    width: 246px;
    height: 220px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    left: 100px;
    top: 100px;

    
}
.footHome li{
    width: 160px;
    height: 23px;
    text-align: left;
    position: relative;
    left: 90px;
}

.footHome li a{
    text-decoration: none;
    text-transform: none;
    width: 100px;   
    height: 40px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.footAboutUs{
    display: block;
    width: 246px;
    height: 220px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    bottom: 122px;
    left: 300px;
}

.footAboutUs li{
    width: 160px;
    height: 23px;
    text-align: left;
    position: relative;
    left: 90px;
}

.footAboutUs li a{
    text-decoration: none;
    text-transform: none;
    width: 100px;   
    height: 40px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.footServices{
    display: block;
    width: 246px;
    height: 220px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    bottom: 343px;
    left: 510px;
}

.footServices li{
    width: 160px;
    height: 23px;
    text-align: left;
    position: relative;
    left: 80px;
}

.footServices li a{
    text-decoration: none;
    text-transform: none;
    width: 100px;   
    height: 40px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.footBlog{
    display: block;
    width: 220px;
    height: 150px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    bottom: 563px; 
    left: 750px;
    
}

.footBlog li{
    width: 160px;
    height: 23px;
    text-align: left;
    position: relative;
    left: 70px;
}

.footBlog li a{
    text-decoration: none;
    text-transform: none;
    width: 100px;   
    height: 40px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 16px; 
}
.footContact{
    display: block;
    width: 220px;
    height: 150px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    bottom: 713px; 
    left: 975px;
}

.footContact li{
    width: 160px;
    height: 23px;
    text-align: left;
    position: relative;
    left: 70px;
}

.footContact li a{
    text-decoration: none;
    text-transform: none;
    width: 100px;   
    height: 40px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 16px; 
}

.socialIconList{
        height: 100px;
        width: 1000px;
        position: absolute;
        top: 300px;
        left: 240px;
    }

    .socialIconList li img{
        height: 80px;
        width: 80px;
        
}

.socialIconList li{
        display: inline;
        position: relative;
        margin: 50px;
}

.contacCont{
    height: 50px;
    width: 1300px;
    position:absolute;
    top: 520px;
    left: 230px;
}

.contacCont ul{
    position: absolute;
    list-style: none;
    
}
.contacCont li img{
    position: absolute;
    top: -17px;
    left: -75px;
}
.contacCont li{
    display: inline;
    position: relative;
    text-decoration: none;
    text-transform: none;
    width: 100px;   
    height: 40px;
    color: rgb(90, 90, 90);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 50px;
}



