.wraper02{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 620px auto auto;
}

.headCont2{
    display:grid;
    grid-template-rows: 200px 350px;
    align-items: center;
    background-image: url(../assets/img/banner/banner-about-us.jpg);
    background-position: 58%;
    background-size: cover;
    background-repeat: no-repeat;
    .navBar{
        display: grid;
        grid-template-rows: 1fr 40px 30px;
        justify-items: center;
        align-items: center;
            .logo{
                display:flex;
                width:100%;
                justify-content: center;
                padding-bottom: 15px;
                    img{
                    height: 62px;
                    width: 162px;
                    }
                }
            ul{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                list-style: none;
                padding-left: 0rem;
                margin-bottom: 0rem; 
                    li {
                        a{ 
                            text-decoration: none;
                            color: white;
                            text-transform: uppercase;
                            font-family: 'Poppins', sans-serif;
                            font-size: 14px;
                            text-shadow: 1px 1px 4px black; 
                            }
                    }
                }
            .contactButton{
                a{
                    text-decoration: none;
                    border-radius: 15px;
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    background-color: #FF7777;
                    padding: 2px 8px 2px 8px;
                    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.674);
                    }
                }
            }
}
.headerText2{
    display: grid;
    grid-template-rows: auto 250px;
    justify-items: center;
    align-items: center;
        .AuMainTitle{
            text-align: center;
            font-weight: 600;
            font-size: 46px;
            color: white;
            font-family: 'Poppins', sans-serif;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.632);
            padding-top: 90px;
        }
        .timeLine{
            display:grid;
            grid-template-areas:
            "date1 date2 date3"
            "line line line"
            "text1 text2 text3";
            grid-template-rows: auto auto auto;
            grid-template-columns: auto auto auto;
                .fontColorShadow{
                    color: rgb(255, 255, 255);
                    font-family: 'Poppins', sans-serif;
                    text-shadow: 1px 1px 4px black;
                    font-size: 14px;
                }
                p{
                    margin-bottom: 0rem;
                }
                .date1{
                    grid-area: date1;
                    text-decoration: none;
                    text-align: center;
                }
                .date2{
                    grid-area: date2;
                    text-decoration: none;
                    text-align: center;
                }
                .date3{
                    grid-area: date3;
                    text-decoration: none;
                    text-align: center;
                }
                .line{
                    grid-area: line;
                    height: 3px;
                    background: rgb(255, 255, 255);
                    margin-top: 4px;
                    margin-bottom: 4px;
                }
                .text1{
                    grid-area: text1;
                    margin-left: 8px;
                    text-decoration: none;
                    text-align: center;
                }
                .text2{
                    grid-area: text2;
                    text-decoration: none;
                    text-align: center;
                }
                .text3{
                    grid-area: text3;
                    text-align: center;
                    margin-right: 8px;
                    text-decoration: none;
                }
            }
}
.main02{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}
.section03{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-items: center;
    background-color: #a5ddd3;
    padding: 4rem 1rem 4rem 1rem;
        .s03Up{
            text-align: center;
            h3{
                color: rgb(90, 90, 90);
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }
            p{
                color: rgb(90, 90, 90);
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                margin-bottom: 0rem;
            }
        }
        .line2{
            height: 3px;
            width: 80%;
            background: rgb(90, 90, 90);
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .s03Down{
            text-align: center;
            h3{
                color: rgb(90, 90, 90);
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }
            ul{
                list-style: none;
                padding-left: 0rem;
                li{
                    color: rgb(90, 90, 90);
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                    text-decoration: none;
                    text-align: center;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
.section04{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
        .s04Up{
            display: flex;
            flex-direction: column;
            margin: 30px 10px 30px 10px;
            color: rgb(90, 90, 90);
            text-align: left;
                h3{
                    font-weight: 700;
                    margin-bottom: 1.2rem;
                    font-size: 46px;
                }
                p{
                    font-size: 20px;
                    margin-bottom: 0rem;
                }
        }
        .s04Down{
            .carousel-item{
                height: 650px;
                .artText{
                    color: rgb(90, 90, 90);
                    padding-bottom: 0rem;
                    padding-top: 3rem;
                    h5{
                        font-size: 22px;
                        font-weight: 300;
                        margin-bottom: 1rem;
                    }
                    h3{
                        font-size: 26px;
                        margin-bottom: 1.3rem;
                    }
                    p{
                        font-size: 16px;
                        height: 170px;
                    }
                }
            }
        }
}
