.footerCont{
    .topButton{
        height: 70px;
        width: 90px;
        left: 43%;
            a{
                font-size: 22px;
                p{
                    padding-top: 6px;
                }
            }
        }
    .footNav{
        margin-top: 70px;
        ul{
            font-size: 20px;
            li{
                a{
                    font-size: 18px;
                }
            }
        }
    }
}