.footerCont{
    .topButton{
        height: 70px;
        width: 90px;
        left: 44%;
            a{
                font-size: 22px;
                p{
                    padding-top: 6px;
                }
            }
    }
    .footNav{
        margin-top: 70px;
        ul{
            font-size: 20px;
            li{
                a{
                    font-size: 18px;
                }
            }
        }
    }
    .socialIcon{
        margin-top: 0.4rem;
        margin-bottom: 2.3rem;
        li{
            img{
                height: 65px;
                width: 65px;
            }
        }
    }
    .contactCont{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0rem;
            li{
                img{
                    padding-right: 4px;
                }
                a{
                    font-size: 17px;
                }
            }
    }
}
